
*.apk

app_addons_00001_message/app/build/
app_addons_00001_message/app/app.iml
app_addons_00001_message/app/build.gradle
app_addons_00001_message/app/proguard-rules.pro
app_addons_00001_message/.gradle
app_addons_00001_message/.idea
app_addons_00001_message/classes/
app_addons_00001_message/classes_led/
app_addons_00001_message/gradle/
app_addons_00001_message/app_addons_00001_message.iml
app_addons_00001_message/build.gradle
app_addons_00001_message/gradle.properties
app_addons_00001_message/gradlew
app_addons_00001_message/gradlew.bat
app_addons_00001_message/local.properties
app_addons_00001_message/settings.gradle
app_addons_00001_message/.idea/caches/build_file_checksums.ser
